.box {
  border: solid 1px black;
  border-radius: 8px;
  padding: 12px;
  margin: 0 300px;
  width: 400px;
}
.box2 {
  border: solid 1px black;
  border-radius: 8px;
  padding: 7px;
}

.content, .contents {
  min-height: 100vh;
  width: 100%;
}

.navbar{
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}

.box2{
  border-radius: 4px;
  border: solid 1px black;
  padding: 10px;
}


/* sidebar */
.sidebar {
  background: #7ebeeab0;
  min-width: 255px;
  max-width: 255px;
  transition: all ease-in 0.3s;
  min-height: 100vh;
}
hr.hr-color {
  color: #272247;
  opacity: 1;
}
.sidebar ul {
  padding: 0 11px;
}
.sidebar li a {
  color: black;
  padding: 5px;
  font-size: 14px;
  margin-left: 0;
}
.sidebar .list-group-item{
  padding: 4px 3px;
}
.sidebar li a.text-center {
  border: solid rgb(39, 34, 71, 0.5) 0.3px;
  border-radius: 8px;
  padding: 5px 0;
}
.sidebar .list-group-item{
  background-color: transparent;
}
.content-side{
  position: fixed;
  margin-top: 60px;
  width: 255px;
}
.sidebar li a:hover{
  color: mediumblue;
  border-radius: 12px;
}

.sidebar .profil img {
  width: 50px;
  height: 66px;
  margin-left:20px;
  padding: 7px 0;
  display: block;
  transition: all ease-in 0.3s;
  object-fit: cover;
}
.sidebar .profil button {
  border: 1px solid black;
  position: absolute;
  margin-top: -27px;
  margin-left: 55px;
  width: 20px;
  height: 20px;
}
.sidebar .profil button i {
  font-size: 8px;
  color: #272247;
  margin-top: -6px;
  margin-left: -3px;
  position: absolute;
}

.active{
  color: mediumblue;
}
/* sidebar selesai */